<% include ./partials/header %>


<div class="container">
  <div class="row justify-content-md-center"  id="ilanlar">


  <% if(currentUser.userType=='Admin') { %>
 
    
    <% foundPosts.forEach( (d)=>{ %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../images/<%= d.postImage %>"" alt="Card image cap">
        <div class="card-body" id="ilan">
        <h3 class="card-title"><%= d.postTitle %></h5>
        <h5 class="card-text"><%= d.postType %></h1>
        <h5 class="card-text">Şehir</h1>
        <h5 class="card-text" id="cellPhoneNumber">Telefon numarası</h1>
        <p class="card-text"><%= d.postNote %></p>
        </div>
    <form action="/admin"method="POST" >
      <input class="form-control"  id="userCity"type="text" value="<%= d._id %>"  name="postid" readonly>
      <button type="submit" name="butt" value="<%= d._id %>"class="btn btn-primary">Onayla</button>
    </form>
            
          </div>
    <%  }); %>

    <% }  else {%>

    <h1>403 FORBIDDEN</h1>
 
    <% } %>

  </div>

</div>