<% include ./partials/header %>
<section class="page-section about-heading">
    <div class="container">
      <form action="/ilanver" method="POST">
        <div class="form-group">

          <div class="row justify-content-md-center">

              <div class="col-md-12">
                  <label for="postTitle">E-posta adresiniz:</label>
                  <input class="form-control" id="postTitle"type="text" value="<%= currentUser.username %>" name="usrname" readonly>
              </div>
              <div class="col-md-4">
                  <label for="postTitle">İlan Başlığı:</label>
                  <input class="form-control" id="postTitle"type="text" placeholder="İlan Adı" name="title">
              </div>
              <div class="col-md-4">
                  <label for="postType">İlanı ne için açmak istiyorsunuz?</label>
                <select class="form-control" id="postType" name="type">
                  <option>Kayıp İlanı</option>
                  <option>Sahiplendirme İlanı</option>
                  <option>Geçici Süre Bakım İlanı</option>
                </select>
              </div>
              <div class="col-md-4">
                  <label for="exampleFormControlFile1">Resim seçin. Sadece 1 adet fotoğraf yükleyiniz.</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">
              </div>
  
              <div class="col-md-4">
                <label for="uName">Adınız ve Soyadınız:</label>
                <input class="form-control"  id="uName"type="text" value="<%= currentUser.usersName %> <%= currentUser.usersSurname %>"  name="namesurname" readonly>
              </div>
              <div class="col-md-4">
                <label for="userPhone">Telefon Numaranız:</label>
                <input class="form-control"  id="userPhone"type="text" value="<%= currentUser.usersName %> <%= currentUser.usersSurname %>" name="phonenumber"  readonly>  
              </div>
              <div class="col-md-4">
                <label for="userCity">Şehir:</label>
                <input class="form-control"  id="userCity"type="text" value="<%= currentUser.userCity %>"  name="city" readonly>
              </div>
              <div class="col-md-6">
                  <label for="datepicker" >Kaybolma tarihi:</label>
                  <input id="datepicker" name="date" readonly>
              </div>
              <div class="col-md-12">
                <label for="animalNotes">Notlar</label>
                <textarea cols="40" rows="5" class="form-control" id="animalNotes" placeholder="Notlarınız" name="notes"></textarea>
              </div>
              <div class="col-md-4">
                  <label for="animalT">Hayvanınızın türü:</label>
                  <input class="form-control" id="animalT"type="text" placeholder="Hayvanın Türü" name="typea">
              </div>
              <div class="col-md-4">
                  <label for="animalG">Hayvanınızın cinsi:</label>
                  <input class="form-control" id="animalG"type="text" placeholder="Hayvanın Cinsi" name="genus">
              </div>
              <div class="col-md-4">
                  <label for="animalA">Hayvanınızın yaşı:</label>
                  <input class="form-control" id="animalA"type="number" placeholder="Yaş" name="age">
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
     </form>
    </div>
  </section>

  <script>
      $('#datepicker').datepicker({
          uiLibrary: 'bootstrap4'
      });
  </script>
  <% include ./partials/footer %>